*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--ff-primary: "Source Sans Pro", sans-serif;
	--ff-secondary: "Source Code Pro", monospace;

	--fw-normal: 400;
	--fw-bold: 700;

	--clr-light: #fef7fa;
	--clr-mid: #eedcb8;
	--clr-dark: #040101;
	--clr-accent: #009db3;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
}

img {
	max-width: 100%;
}

h1,
h2 {
	line-height: 1.2;
	margin: 0;
}

.contain {
	max-width: 1440px;
	padding: 0 clamp(2em, 2vw, 5em);
}

#lessons,
#training,
#about {
	background-color: var(--clr-mid);
	padding: 5em 0;
}

header {
	background-image: url("../images/summerandpharaoh.jpg");
	background-size: cover;
	background-position: right 35% top;
	height: 100vh;
}

.header_content {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav {
	position: fixed;
	background: var(--clr-dark);
	color: var(--clr-light);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav__link {
	color: inherit;
	text-transform: uppercase;
	font-size: clamp(1rem, 2vw, 2rem);
	text-decoration: none;
}

.nav__link:hover,
.nav__link:focus {
	color: var(--clr-accent);
}

.intro_title {
	color: var(--clr-light);
	text-transform: uppercase;
	/* font-size: 2.75rem; */
	font-size: clamp(2.75rem, 5vw, 4.5rem);
	/* max-width: 630px; */
	margin-bottom: 0.275em;
}

.intro_title span {
	display: block;
}

#training {
	background-color: var(--clr-mid);
	padding: 5em 0;
}

.training_content {
	text-align: center;
}

.training_content p {
	margin: 2em auto;
	max-width: 500px;
}

.title {
	font-size: clamp(2.25rem, 5vw, 3rem);
}
